---
layout: 'base-2.njk'
---

<br>
<h2 class="text-[20px] font-bold">About</h2>
<br>


<p>I'm a software developer with a passion for building products, primarly in b2b. I'm currently working on a few projects, including:</p>
<br>
<p><a href="https://www.krastie.ai" class="underline hover:text-gray-600">Krastie AI</a></p>
<p><a href="https://www.anchorclick.com" class="underline hover:text-gray-600">Anchorclick</a></p>
<p><a href="https://github.com/sewellstephens/react-express-starter" class="underline hover:text-gray-600">React Express Starter</a></p>
<p><a href="https://github.com/sewellstephens/express-authorize" class="underline hover:text-gray-600">Express Authorize</a></p>
<p><a href="https://github.com/sewellstephens/cookies-react" class="underline hover:text-gray-600">Cookies React</a></p>
<p><a href="https://github.com/sewellstephens/any-debounce" class="underline hover:text-gray-600">Any Debounce</a></p>
<br>
<p>I'm also a fan of open source software, and I've contributed to a few projects, including:</p>
<br>
<p><a href="https://github.com/ianstormtaylor/slate" class="underline hover:text-gray-600">Slate</a></p>
<p><a href="https://github.com/udecode/plate" class="underline hover:text-gray-600">Plate (not actively contributing)</a></p>
<p><a href="https://github.com/vitejs/vite" class="underline hover:text-gray-600">Vite</a></p>
<p><a href="https://github.com/firebase/firebase-functions" class="underline hover:text-gray-600">Firebase (not actively contributing)</a></p>
<p><a href="https://github.com/expressjs/multer" class="underline hover:text-gray-600">Multer (not actively contributing)</a></p>
<br>
<p>I started Krastie AI in 2024 as an AI-powered document editor (now a full-fledged content creation platform), but I've been coding for a few years before that. I started with HTML and CSS, and then moved on to JavaScript and React. I've also worked with Node.js, Express, and MongoDB.</p>

<br>
<h3 class="text-[20px] font-bold">Where it all started</h3>
<br>
<p>In 2018 I came up with the idea of a automated marketing platform. I had no prior experience in marketing, but had some experience with coding. I started working on the project, but quickly realized I was in over my head. I ended up dropping the project, but I learned a lot from it.</p>
<br>
<p>I've been coding for a few years now, and I've learned a lot. I've worked on a few projects, including:</p>
<br>
<p><a href="#" class="underline hover:text-gray-600">Obeatow</a></p>
<p><a href="#" class="underline hover:text-gray-600">Imgartfis</a></p>
<p><a href="https://www.krastie.ai" class="underline hover:text-gray-600">Krastie AI</a></p>
<br>
<p> After years of developing software in low-code platforms, I decided to use React and Node.js to build my next product Krastie AI.</p>
<br>
<p>Krastie AI is a content creation platform that uses AI to help you create content for your business. It's a platform that allows you to create AI content that is optimized for SEO and social media and of course drives traffic and conversions to your website.</p>
<br>
<p>I'm currently still working on Krastie AI to this day, and would love for you to check it out and follow my journey on <a href="https://www.linkedin.com/in/sewellstephens104/" class="underline hover:text-gray-600">LinkedIn</a> and <a href="https://x.com/sewell_stephens" class="underline hover:text-gray-600">X</a>.</p>

<br>

    <h3 class="text-[20px] font-bold">Contact</h3>
    <br>
    <p>If you'd like to get in touch, you can email me at <a href="mailto:sewellstephens@gmail.com" class="underline hover:text-gray-600">sewellstephens@gmail.com</a></p>
    <br>