---
layout: 'base-2.njk'
eleventyImport:
  collections: ["post"]
---               

<br>
<h2 class="font-bold text-[20px]">Blog posts</h2>

{%- for post in collections.post | reverse -%}
   {% include 'article-snippet.njk' %}
{%- endfor %}

</div>
<br />
<br>
<br>