---
layout: 'base-2.njk'
eleventyImport:
  collections: ["post"]
---
             

<br>
<h2 class="font-bold text-[20px]">My companies</h2>

<br>
<p>I've founded a few companies, here are the ones I'm most proud of:</p>
<p><a class="underline hover:text-gray-600" href="https://www.krastie.ai">Krastie AI</a></p>
<p><a class="underline hover:text-gray-600" href="https://www.anchorclick.com">Anchorclick</a></p>
<br>

<h2 class="font-bold text-[20px]">My open source projects</h2>

<br>
<p><a class="underline hover:text-gray-600" href="https://github.com/sewellstephens/react-express-starter">React Express Starter</a></p>
<p><a class="underline hover:text-gray-600" href="https://github.com/sewellstephens/express-authorize">Express Authorize</a></p>
<p><a class="underline hover:text-gray-600" href="https://github.com/sewellstephens/cookies-react">Cookies React</a></p>
<p><a class="underline hover:text-gray-600" href="https://github.com/sewellstephens/any-debounce">Any Debounce</a></p>
<br>
<br>

<h2 class="font-bold text-[20px]">Education</h2>

<br>
<p>I'm mostly self-taught, although I also took a coding class. The class was ok, but I learned more from reading documentation and watching tutorials. Although I did get several certifications, I'm not sure they're worth much.</p>
<br>
<p>Certifications:</p>
<br>
<p><a href="/certifications/cert-1" class="underline hover:text-gray-600">Fundamentals of Web Development</a></p>
<p><a href="/certifications/cert-2" class="underline hover:text-gray-600">Advanced Web Development</a></p>


</div>
<br />
<br>
<br>





</span>
</div>
