---
layout: 'base-2.njk'
eleventyImport:
  collections: ["post"]
---
             

<br>
<h2 style="font-size: 30px;"><strong>Projects</strong></h2>


<br><p><a href="https://obeatow.com" class="underline text-black hover:text-gray-600">Obeatow</a><br>Feedback and bug reporting software (2022-now)</p>
<br><a href="https://twayobiz.com" class="underline text-black hover:text-gray-600">Twayobiz</a><br>Link shortener with powerful features (2021-2022)</p>
<br><a href="https://sewellstephenssoft.gumroad.com/l/high-quality-prompts-biz-owners" class="underline text-black hover:text-gray-600">ChatGPT Prompts</a><br>ChatGPT prompts for business owners (2023)</p>
<br><a href="https://imgartfiscreator.club" class="underline text-black hover:text-gray-600">Imgartfis Creator</a><br>AI image generation (2023-now)</p>
<br><a href="/work" class="underline text-black hover:text-gray-600">More work</a></p>

<br>
<br>
<h2 style="font-size: 30px;"><strong>Education</strong></h2>

<br><p><a href="https://operationspark.org" class="underline text-black hover:text-gray-600">Operation Spark</a><br>Online coding class based in New Orleans</p>
<br><p>Self taught<br>All my other coding skills I learned myself</p>

</div>
<br />
<br>
<br>





</span>
</div>
