---
layout: 'base-2.njk'
eleventyImport:
  collections: ["post"]
---
             

<br>
<h2 class="font-bold text-[20px]">Projects</h2>
<br>

<div class="grid grid-cols-2 gap-4">
<div class="border shadow-sm rounded-md p-4">
  <a href="https://obeatow.com" class="underline text-black hover:text-gray-600">Obeatow</a>
  <p>Feedback and bug reporting software</p>
</div>
<div class="border shadow-sm rounded-md p-4">
  <a href="https://twayobiz.com" class="underline text-black hover:text-gray-600">Twayobiz</a>
  <p>Link shortener with powerful features</p>
</div>
<div class="border shadow-sm rounded-md p-4">
  <a href="https://sewellstephenssoft.gumroad.com/l/high-quality-prompts-biz-owners" class="underline text-black hover:text-gray-600">ChatGPT Prompts</a>
  <p>ChatGPT prompts for business owners</p>
</div>
<div class="border shadow-sm rounded-md p-4">
  <a href="https://imgartfiscreator.club" class="underline text-black hover:text-gray-600">Imgartfis Creator</a>
  <p>AI image generator</p>
</div>
<div class="border shadow-sm rounded-md p-4">
  <a href="https://roadblost.com" class="underline text-black hover:text-gray-600">RoadBlost</a>
  <p>Budget friendly MVP design and development service</p>
</div>
</div>

<br>
<br>
<h2 class="font-bold text-[20px]">Education</h2>

<br><p><a href="https://operationspark.org" class="underline text-black hover:text-gray-600">Operation Spark</a><br>Online coding class based in New Orleans</p>
<br><p>Self taught<br>All my other coding skills I learned myself</p>

</div>
<br />
<br>
<br>





</span>
</div>
