---
layout: 'base.njk'
---

<div class="max-w-[750px] m-auto p-1">
    <br>
<p style="font-size: 14px;"><a style="font-size: 35px;"><strong>{{ title }}</strong></a><br>{{ date | postDate }}</p>
<br>
<br>


<style>

#postcontent h1 {
        font-size: 32px;
        font-weight: bold;
        margin-top: 10px;
        margin-bottom: 10px;
      }

#postcontent h2 {
        font-size: 27px;
        font-weight: bold;
        margin-top: 10px;
        margin-bottom: 10px;
      }
      #postcontent h3 {
        font-size: 23px;
        font-weight: bold;
        margin-top: 10px;
        margin-bottom: 10px;
      }

      #postcontent ul {
        list-style-type: disc;
        margin-left: 40px;
      }
      #postcontent a {
        text-decoration: underline;
        color: #299fff;
      }

      #postcontent pre {
        background-color: #ededed;
        padding: 15px;
        margin-top: 5px;
        margin-bottom: 5px;
        border: none;
        border-radius: 10px;
      }
      #postcontent img {
        margin-top: 5px;
        margin-bottom: 5px;
      }

</style>

<span>

<div id="postcontent">
  {{ content | safe }}
</div>

</div>