---
layout: 'base.njk'
---

<div class="max-w-[750px] m-auto p-1">
    <br>
<p style="font-size: 14px;"><a style="font-size: 35px;"><strong>{{ title }}</strong></a><br>{{ date | postDate }}</p>
<br>
<br>

<span>

<div class="prose max-w-none">
  {{ content | safe }}
</div>

</div>