<!DOCTYPE html>
<head>
<script src="https://kit.fontawesome.com/604a31dafa.js" crossorigin="anonymous"></script>
<meta name="google-site-verification" content="bp7o7KPz46Q-rExOV7jzjtpJbPIsHS66YDXNpDjL28s" />
<meta name="viewport" content="width=device-width" /> 
<link rel="icon" href="/media/s-icon.png" />
<title>Sewell Stephens</title> 
<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

<link rel="stylesheet" href="/dist/output.css" /><!--Build command: npx tailwindcss -i ./styles/input.css -o ./dist/output.css --watch -->
<style>

  body {
 font-family: arial;
 overflow-x: hidden;
 margin: auto;
 
 
}

</style>
</head>
<body lang="en">
<script src="/js/identity.js"></script>
<div class="max-w-[750px] m-auto p-1" style="margin-top: 20px;">
<p style="clear: both;"></p>
<span>
<img src="/media/my-pic-2.jpg" width="130" height="130" class="rounded-full"></img>
<br>
<br>
<p class="text-[30px] font-bold">I'm Sewell Stephens</p>
<br>
<p class="text-[18px]">Hi, I'm Sewell Stephens. I'm a young developer and business owner and currently the developer and founder of Obeatow. I have years of experience developing software and am passionate about it.</p>
<br><p>Contact me: <a href="mailto:hey@mysewellstephens.com" class="underline text-black hover:text-gray-600">hey@mysewellstephens.com</a> ✨</p>
<br>
 <p class="text-[30px]"><a href="https://github.com/Sewellstephens" class="text-black hover:text-gray-600"><i class='fab fa-github'></i></a> <a href="https://twitter.com/sewell_stephens" class="ml-5 text-black hover:text-gray-600"><i class="fa-brands fa-x-twitter"></i></a> <a href="https://linkedin.com/in/sewellstephens104" class="ml-5 text-black hover:text-gray-600"><i class="fa-brands fa-linkedin"></i></a></p>
<br><p><a href="/" class="underline text-black hover:text-gray-600">Home</a> <a href="/about" class="ml-5 underline text-black hover:text-gray-600">About</a> <a href="/blog" class="ml-5 underline text-black hover:text-gray-600">Blog</a></p>
 {{ content | safe }}
</div>
 <div class="max-w-[750px] m-auto p-1">
  <div>
   <p class="text-center text-sm">&copy; 2024 Sewell Stephens. - <a href="https://github.com/sewellstephens/11ty-decap-cms-boilerplate" class="underline text-black hover:text-gray-600">Open source code</a></p>
  <br>
  </div>
  </div>
</body>