---
layout: 'base-2.njk'
---

<br>
<h2 class="text-[20px] font-bold">About</h2>
<br>

<p>
I'm a developer. Been creating B2B SaaS and Open Source material for some time. I have been creating stuff for 7 years and built my first fully functional SaaS product in 2020. I had worked on a few products prior, but never finished or released them. I currently run Obeatow and Imgartfis previously owning Twayobiz and Rototer. I am passonate about what I create and hate dishonest feedback as I want to know really what the problem is.
</p>
<br>
<p>
  In 2018 I started getting into coding at the age of 12. I started with basic HTML and CSS later getting into more complex stuff like Node JS and React. 2018 though 2020 I attempted to create a software product in the advertising space, but failed miserably. In December 2020 I moved on to my next project a simple policy generator software also offering cookie banner popups. Unfortunately, I had to shut it down in 2021 due to lack of interest and GDPR and other laws evolving and not keeping up. I then moved to my next project, I file sharing and link shortening software called Twayobiz. It was up for a while, but I had to shut it down due to users abusing the platform and sharing sketchy URLs. 
</p>
<br>
<p>
  The next project was Obeatow. It is currently still up, but users are not staying when they rarely do sign up. In 2023 created an AI software called Coadfiller AI. It was going to be an AI code autocomplete like what Github Copilot is today, and thats why I shut it down. Because of Github Copilot. I then moved to my next project, Imgartfis. It is currently dead, but I have plans for a new AI software product. So stay tuned for that.
</p>
<br>
<br>

</div>
<br />
<br>
<br>





</span>
</div>