---
layout: 'base-2.njk'
eleventyImport:
  collections: ["post"]
---
             

<br>
<h2 class="font-bold text-[20px]">Companies I've founded</h2>
<br>

<div class="grid grid-cols-2 gap-4">
<div class="border shadow-sm rounded-md p-4">
  <div class="flex gap-2 items-center justify-start"><a href="https://www.krastie.ai" class="underline text-black hover:text-gray-600">Krastie AI</a> <span class="rounded-full text-sm bg-gray-200 px-2 py-1">Active</span></div>
  <p>AI copilot for marketing teams</p>
</div>
<div class="border shadow-sm rounded-md p-4">
  <div class="flex gap-2 items-center justify-start"><a href="https://www.amortec.one" class="underline text-black hover:text-gray-600">Amortec</a> <span class="rounded-full text-sm bg-gray-200 px-2 py-1">Dead</span></div>
  <p>AI observability platform</p>
</div>
<div class="border shadow-sm rounded-md p-4">
  <div class="flex gap-2 items-center justify-start"><a href="https://www.obeatow.com" class="underline text-black hover:text-gray-600">Obeatow</a> <span class="rounded-full text-sm bg-gray-200 px-2 py-1">Dead</span></div>
  <p>Feedback and bug reporting software</p>
</div>
<div class="border shadow-sm rounded-md p-4">
  <div class="flex gap-2 items-center justify-start"><a href="https://www.twayobiz.com" class="underline text-black hover:text-gray-600">Twayobiz</a> <span class="rounded-full text-sm bg-gray-200 px-2 py-1">Dead</span></div>
  <p>Link shortener with powerful features</p>
</div>
<div class="border shadow-sm rounded-md p-4">
    <div class="flex gap-2 items-center justify-start"><a href="https://www.imgartfiscreator.club" class="underline text-black hover:text-gray-600">Imgartfis Creator</a> <span class="rounded-full text-sm bg-gray-200 px-2 py-1">Dead</span></div>
  <p>AI image generator</p>
</div>
</div>

<br>
<br>

</div>
<br />
<br>
<br>





</span>
</div>
